body{
    background-color: white;


}




.text{ 

    font-size: 47px;
	font-family: "helvetica";
}
 

 .text2 {
font-family: "helvetica";
    font-size: 24px;
    z-index: -1;
    position: absolute;
    top: 712px;
    left: 248px;
    right: 269px;
    margin-top: 15px;

 }

  .text3 {

    font-family: "helvetica";
    font-size: 32px;
    z-index: -1;
    position: absolute;
    top: 847px;
    left: 248px;
    right: 269px;
    margin-top: 15px;
   margin-bottom: 80PX;


 }