body {
	background-color: white;
	background-image: url("b2.jpg")

}

.question-container {
	background-color: black;
	padding: 20px;

}

.question {
	color: #65FF1E;
	font-family: Arial;
	font-size: 18px;

}

.answer {
	color: #65FF1E;
	font-family: Arial;
	font-size: 15px;

}