body {
	background: lightgrey;
}



@font-face {
  font-family: "GTHaptikRegular";
  src: 
    url("assets/fonts/GT-Haptik-Regular.woff") format("woff"), /* Modern Browsers */
    url("assets/fonts/GT-Haptik-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}



.title {
  font-size: 100px;
  line-height: 1.2;
  font-family: 'GTHaptikRegular';
  text-align: center;
  border-style: outset;
 border-left-width: 10px;
 background: -webkit-linear-gradient(#0026ff,#0026ff,  #e1ff00, #e1ff00 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.small-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: 'GTHaptikRegular';
}



.col {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}




.col-4 {
  width: 50%;
  font-color: blue;
}
.col-3 {
  width: 25%;
}

.col-6 {
  width: 50%;
}

.col-9 {
  width: 105%;
}

/* For codepen example */

.row {
  margin-bottom: 40px;
}

.col {
  border-style: outset;
 border-left-width: 10px;
  height: 600px;
  font-size: 20px;
  font-family: GTHaptikRegular;

}

.col1 {
  border-style: outset;
 border-left-width: 10px;
 border-color: white;
  height: 200px;
  font-size: 20px;
  font-family: GTHaptikRegular;
  color: #c800ff;
}

.back {
      position: absolute;
    top: 400px;
    left: 1033px;
    padding-left: 13px;
    position: static;
    box-sizing: content-box;
    width: 238px;
    height: 188px;
    padding: 13px;
    border: hidden;
 
  
}

.text {
  font-size: 20px;
  font-family: GTHaptikRegular;
    padding-left: 15px;
    position: static;
}


.text1 {
      font-size: 15px;
    font-family: GTHaptikRegular;
    padding-left: 13px;
    position: static;
    box-sizing: content-box;
    width: 295px;
    height: 177px;
    padding: 13px;
    border: hidden;   

}

.topt {
    font-size: 15px;
    font-family: GTHaptikRegular;
    padding-left: 0px;
    position: fixed;
    box-sizing: content-box;
    width: 115px;
    height: 115px;
    padding: 2px;
    border-style: outset;
    border-left-width: 10px;
    top: 0px;
    background-color: lightgrey;
      

}

.text2 {
    font-size: 20px;
    font-family: GTHaptikRegular;
      font-size: 20px;
    padding-left: 15px;
    position: static;

  
   
}


.t2 {
	display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: #f2f2f2;
    border:  outset;
    padding: 40px;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 22px;
    text-transform: none;
    width: 100%;
    max-width: 500px;
    margin-left: 40px;
    margin-bottom: 44px;
    pointer-events: all;
    font-family: GTHaptikRegular;
}



.t3 {
	display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: #f2f2f2;
    border:  outset;
    padding: 40px;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 22px;
    text-transform: none;
    width: 100%;
    max-width: 500px;
    margin-left: 40px;
    margin-bottom: 44px;
    pointer-events: all;
    font-family: GTHaptikRegular;
}



.t4 {
	display: inline-block;
    position: relative;
    vertical-align: top;
    background-color: #f2f2f2;
    border:  outset;
    padding: 40px;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 22px;
    text-transform: none;
    width: 100%;
    max-width: 500px;
    margin-left: 40px;
    margin-bottom: 44px;
    pointer-events: all;
    font-family: GTHaptikRegular;
}


.t5 {
	    display: inline-block;
    position: relative;
    vertical-align: top;
    border: hidden;
    padding: 34px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 22px;
    text-transform: none;
    width: 100%;
    max-width: 500px;
    margin-left: 41px;
    margin-bottom: auto;
    pointer-events: all;
    font-family: GTHaptikRegular;
    top: 0px;
}

.rain {  top: 30px;
    left: 33px;
    width: 161px;
    height: 111px;}


a:link {
  color: #c800ff;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}